basePath: /api
definitions:
  model.User:
    properties:
      avatar:
        type: string
      createBy:
        type: string
      createdAt:
        type: string
      email:
        type: string
      id:
        description: 主键ID
        type: integer
      introduction:
        type: string
      nickname:
        type: string
      password:
        type: string
      phone:
        type: string
      status:
        type: integer
      updatedAt:
        type: string
      updatedBy:
        type: string
      username:
        type: string
    type: object
  response.ResListData:
    properties:
      total:
        example: 100
        type: integer
    type: object
  response.ResponseData:
    properties:
      code:
        type: integer
      message:
        type: string
    type: object
host: zhaoxiaoyang.com
info:
  contact:
    email: support@swagger.io
    name: cwy
    url: http://www.swagger.io/support
  description: jiax-admin is a private management background
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: jiax-admin
  version: "1.0"
paths:
  /api/v1/user/create:
    post:
      consumes:
      - application/json
      description: 创建新用户
      produces:
      - application/json
      responses:
        "200":
          description: 创建用户成功
          schema:
            allOf:
            - $ref: '#/definitions/response.ResponseData'
            - properties:
                message:
                  type: string
              type: object
      summary: 用户管理
      tags:
      - User
  /api/v1/user/delete:
    delete:
      consumes:
      - application/json
      description: 根据id删除用户信息
      produces:
      - application/json
      responses:
        "200":
          description: 删除用户成功
          schema:
            allOf:
            - $ref: '#/definitions/response.ResponseData'
            - properties:
                message:
                  type: string
              type: object
      summary: 删除用户信息
      tags:
      - User
  /api/v1/user/list:
    get:
      consumes:
      - application/json
      description: 获取用户信息列表(username 和 nickname 可模糊查询)
      produces:
      - application/json
      responses:
        "200":
          description: 成功返回用户列表
          schema:
            allOf:
            - $ref: '#/definitions/response.ResponseData'
            - properties:
                data:
                  allOf:
                  - $ref: '#/definitions/response.ResListData'
                  - properties:
                      list:
                        items:
                          $ref: '#/definitions/model.User'
                        type: array
                    type: object
              type: object
      summary: 获取用户信息列表
      tags:
      - User
  /api/v1/user/update:
    patch:
      consumes:
      - application/json
      description: 更新用户信息
      produces:
      - application/json
      responses:
        "200":
          description: 更新用户成功
          schema:
            allOf:
            - $ref: '#/definitions/response.ResponseData'
            - properties:
                message:
                  type: string
              type: object
      summary: 更新用户信息
      tags:
      - User
swagger: "2.0"
